<%- include('header') %>
<% if(messages && messages.length>0){%>
    <div class="hilirio alert">
        <div class=" alertmag m-0" role="alert">
            <strong>
                <%= messages %>
            </strong>
        </div>
    </div>
    <%} %>
        
            <div class="page-body">

                <!-- New Product Add Start -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-sm-8 m-auto">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-header-2">
                                                <h5>Category Information</h5>
                                            </div>

                                            <form class="theme-form theme-form-2 mega-form" action="/addcategorydata" method="post" enctype="multipart/form-data" id="categoryForm">
                                                <div class="mb-4 row align-items-center">
                                                    <label class="form-label-title col-sm-3 mb-0">Category Name</label>
                                                    <div class="col-sm-9">
                                                        <input class="form-control" type="text" name="cat_name" placeholder="Category Name">
                                                    </div>
                                                </div>

                                                <div class="mb-4 row align-items-center d-flex">
                                                    <label class="col-sm-3 col-form-label form-label-title">Category
                                                        Image</label>
                                                    <div class="form-group col-sm-6">
                                                        <div class="dropzone-wrapper">
                                                            <div class="dropzone-desc">
                                                                <input type="file" name="cat_img" id="catimg" accept="image/*" style="display: none;">
                                                                <label for="catimg"><i class="ri-upload-2-line d-block"></i> Choose an image file or drag it here.</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <img src="" alt="" class="img-fluid">
                                                    </div>
                                                </div>

                                                <div class="mb-4 row align-items-center">
                                                    <div class="col-sm-3 form-label-title">Select Category Icon</div>
                                                    <div class="col-sm-9">
                                                        
                                                        <select name="cat_icon" id="iconSelect" onchange="updateImagePreview(this.value)">
                                                            <option value="">Select Icon</option>
                                                            <% const icons = [
                                                                "/public/admin assets/svg/1/biscuit.svg",
                                                                "/public/admin assets/svg/1/breakfast.svg",
                                                                "/public/admin assets/svg/1/cup.svg",
                                                                "/public/admin assets/svg/1/drink.svg",
                                                                "/public/admin assets/svg/1/frozen.svg",
                                                                "/public/admin assets/svg/1/grocery.svg",
                                                                "/public/admin assets/svg/1/meats.svg",
                                                                "/public/admin assets/svg/1/milk.svg",
                                                                "/public/admin assets/svg/1/pet.svg",
                                                                "/public/admin assets/svg/1/vegetable.svg",
                                                            ] %>
                                                            <% icons.forEach((icon) => { %>
                                                                <option value="<%= icon %>"><%= icon %></option>
                                                            <% }) %>
                                                        </select>
                                                        
                                                        <div id="imagePreview"></div>
                                                        <script>
                                                            function updateImagePreview(selectedValue) {
                                                                const imagePreview = document.getElementById('imagePreview');
                                                                if (selectedValue) {
                                                                    imagePreview.innerHTML = `<img src="${selectedValue}" class="img-fluid" width="100" alt="raj">`;
                                                                } else {
                                                                    imagePreview.innerHTML = '';
                                                                }
                                                            }
                                                        </script>
                                                        
                                                    </div>
                                                </div>
                                                <button type="submit">Submit</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- New Product Add End -->

<%- include('footer') %>      